.Rproj.user
.Rhistory
.RData
.Ruserdata

**/*.fst
HourlyTemp_Stroke
DataPrep
data
scripts/depreciated
outputs*

# Getting rid of pesky .DS_Store files
*.DS_Store

# Ignoring file that (code reviewer) uses to easily search thru repo 
directory_structures.txt
